# Среда выполнения
nodejs==20.x

# Runtime зависимости
axios==1.13.2
better-sqlite3==12.4.1
dayjs==1.11.19
dotenv==17.2.3
express==5.1.0
nanoid==5.1.6
winston==3.18.3
zod==4.1.12

# Dev-инструменты
nodemon==3.1.11
